<div data-role="page" data-theme="i" date-backbtn="false" id="home">
  <div data-role="header" data-theme="i">
    <h1>Booking Demo</h1>
  </div>
  <div data-role="content">
    <div class="contentWrap">
      <a href="#findFlights" data-inline="true">Find Flights</a>
    </div>
  </div>
  <%= render "layouts/footer"%>
</div>

<div data-role="page" data-theme="i" id="findFlights">
  <div data-role="header" data-theme="i">
    <a href="#home" class="homeBtn">Home</a>
    <h1 id="findFlights">Find Flights</h1>
  </div>
  <div data-role="content">
    <div class="wrapper contentWrap">
      <ul id="topNavs" class="commonLst">
        <li><a href="#">One Way</a></li>
        <li><a href="#" class="current">Return</a></li>
        <li><a href="#">Multi-City</a></li>
      </ul>
      <ul id="fromTo" class="commonLst">
        <li>
          <h5>From</h5>
          <div id="fromInfo">
            <a href="#findOriginAirports">
              <ul class="commonLst ft">
                <li class="commonInfoAbb" id="from_shortcode">&nbsp;</li>
                <li class="commonInfoFul" id="from_city">Origin</li>
              </ul>
            </a>
          </div>
        </li>
        <li>
          <h5>To</h5>
          <div id="toInfo">
            <a href="#findDestinationAirports">
            <ul class="commonLst ft">
              <li class="commonInfoAbb" id="to_shortcode">&nbsp;</li>
              <li class="commonInfoFul" id="to_city">Destination</li>
            </ul>
            </a>
          </div>
        </li>
      </ul>
      <div class="depAr">
        <a href="#pickDate">
          <ul>
            <li>
              <h5>Departs <span class="iconDepart"></span></h5>
            </li>
            <li>
              <h5>Returns <span class="iconReturn"></span></h5>
            </li>
          </ul>
        </a>
      </div>
    </div>
  </div>
  <%= render "layouts/footer"%>
</div>

<div data-role="page" data-theme="i" id="findOriginAirports">
  <div data-role="header" data-theme="i">
    <div id="searchBar" class="wrapper">
      <div id="sbFlds">
        <input type="text" name="from" id="search_from" data-theme="c" class="ui-input-text ui-body-c autocomplete"  data-type="search"/>
      </div>
      <a href="#findFlights" class="cancelBtn ui-btn-right" id="from_back">Back</a>
    </div>
  </div>
  <div data-role="content">
    <div class="wrapper contentWrap">
      <ul data-role="listview" data-theme="i" class="contentWrap">
        <li data-role="list-divider" role="heading">Airports nearest to your current location</li>
      </ul>
    </div>
  </div>
  <%= render "layouts/footer"%>
</div>

<div data-role="page" data-theme="i" id="findDestinationAirports">
  <div data-role="header" data-theme="i">
    <div id="searchBar" class="wrapper">
      <label for="search">From</label>
      <input type="text" name="to" id="search_to" data-theme="c" class="ui-input-text ui-body-c autocomplete" data-type="search" placeholder="Select Destination Airport"/>
      <a href="#findFlights" class="cancelBtn ui-btn-right" id="to_back">Back</a>
    </div>
  </div>
  <div data-role="content">
    <div class="wrapper contentWrap">
      <ul data-role="listview" data-theme="i" id="destinationLists">
        <li data-role="list-divider" role="heading">Airports nearest to your current location</li>
      </ul>
    </div>
  </div>
  <%= render "layouts/footer"%>
</div>

<div data-role="page" data-theme="i" id="pickDate">
  <div data-role="header" data-theme="i">
    <a href="#findFlights" class="cancelBtn headBtn" id="from_back">Back</a>
    <h1 id="headMark">Pick Date</h1>
    <a href="#home" class="doneBtn headBtn">Done</a>
  </div>
  <div data-role="content">
    <div class="wrapper contentWrap">
      <div class="depAr">
        <a href="#pickDate">
          <ul>
            <li>
              <h5>Departs <span class="iconDepart"></span></h5>
            </li>
            <li>
              <h5>Returns <span class="iconReturn"></span></h5>
            </li>
          </ul>
        </a>
      </div>
      <input type="date" name="date" id="date" value=""  />
    </div>
  </div>
  <%= render "layouts/footer"%>
</div>